body {
    background-color: #000;
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap") format("opentype");
}

#enter {
    background-color: #16161a;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    transition: .3s ease-in;
    font-size: 24px;
}

.landing {
    text-align: center;
    color: #94a1b2;
}

    .landing-logo {
        width: 20em;
    }

    .landing a {
        color: #94a1b2;
        text-decoration: none;
        transition: ease-in-out .1s;
    }

    .landing a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .landing .archive {
        font-weight: bold;
        font-size: 2em;
    }

 

/* Media query */
@media (max-width: 1000px) {

    #enter {
        display: none;
        background: #16161a;
    }

    .body {
        width: 100%;
        background: #16161a;
    }

    .landing {
        width: 100%;
    }

    pre {
        font-size: 9px;
    }

}

body{
    background:#16161a;
  }
  /* customizable snowflake styling */
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Poppins;
    text-shadow: 0 0 1px #000;
  }
  
  
